<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codex.buddyautostart">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="false"
        android:label="Buddy Autostart"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_UNLOCKED" />
                <action android:name="com.codex.buddyautostart.TEST" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
